.container{
  padding:15px;
  border:1px solid orange;
  background:#FCF8E3;
}

.flex{
  background:#3A87AD;
  color:#fff;
  margin:10px;
  width:20%;
  height:30px;
  padding:5px;
  border-radius:5px;
  }
.ex2{
  display:flex;
  flex-direction: row-reverse;
}
.ex3{
  display:flex;
  flex-direction: row-reverse;
}
.ex3_1{
  -webkit-box-flex:1;
  -webkit-flex:1;
}
#page {
  counter-reset: heading;
}

h1:before {
  content: counter(heading)") ";
  counter-increment: heading;
}

h1 {
  counter-reset: subheading;
}

h2:before {
  content: counter(heading)"." counter(subheading)") ";
  counter-increment: subheading;
}
body{
  font-family: courier new;
}
